/* The main image */
.banner{
    width:100%;
    height:100%;
    background-position:center center;
    background-size:cover;
    position:absolute;
    margin:0;
    left:0;
    top:0;
}


/*The navigation bar */
.soulmate-navbar{
    opacity: 0.8;
}

/*    For mobile devices in portrait mode*/
@media only screen and (min-width:100px) and (orientation:portrait){
    /*From 100px onwards*/
    .banner{
        background-image: url("/img/xxsmall.jpg");
    }
}
@media only screen and (min-width:400px) and (orientation:portrait){
    /*From 400px onwards*/
    .banner{
        background-image:url("/img/xsmall.jpg");
    }
}
@media only screen and (min-width:1200px) and (orientation:portrait){
    /*From 1200px onwards*/
        .banner{
        background-image:url("/img/small.jpg");    
    }
}
/*    For all devices in landscape mode */
@media only screen and (min-width:100px) and (orientation:landscape){
    /*From 100px onwards*/
    .banner{
        background-image: url("/img/xxsmall.jpg");
    }
}
@media only screen and (min-width:400px) and (orientation:landscape){
    /*From 400px onwards*/
    .banner{
        background-image:url("/img/xsmall.jpg");
    }
}   
@media only screen and (min-width:450px) and (orientation:landscape){
    /*From 450px onwards*/
    .banner{
        background-image:url("/img/small.jpg");    
    }
}
@media only screen and (min-width:550px) and (orientation:landscape){
    /*From 550px onwards*/
        .banner{
        background-image:url("/img/medium.jpg");    
    }
}
@media only screen and (min-width:1200px) and (orientation:landscape){
    /*From 1200px onwards*/
        .banner{
        background-image:url("/img/large.jpg");    
    }
}
