html,body {
    /*height:100%;
    margin:0;
    padding:0;*/
}


/*.banner{
    overflow:hidden;
    height:100vh;
    width:100vw;    
}*/

.banner{
    width:100%;
    height:100%;
    background-position:center center;
    background-size:cover;
    position:absolute;
    margin:0;
    left:0;
    top:0;
}

    /*.banner img {
        width: inherit;
        height: inherit;
    }*/



@media only screen and (min-width:100px)
{
    /*From 100px onwards*/
    .banner{
        background-image: url("/img/xxsmall.jpg");
    }
}

@media only screen and (min-width:400px){
    /*From 400px onwards*/
    .banner{
        background-image:url("/img/xsmall.jpg");
    }
}
    
@media only screen and (min-width:450px){
    /*From 450px onwards*/
    .banner{
        background-image:url("/img/small.jpg");    
    }
}

@media only screen and (min-width:550px){
    /*From 550px onwards*/
        .banner{
        background-image:url("/img/medium.jpg");    
    }
}
@media only screen and (min-width:1200px){
    /*From 1200px onwards*/
        .banner{
        background-image:url("/img/large.jpg");    
    }
}
