<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    
    
    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/LandingPage.css">
    <!-- endinject -->
    
    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <!-- endinject -->

    </head>
<body>
    <figure class="banner">
        <!--<img />-->
    </figure>

    
</body>
</html>
