<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>


    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/LandingPage.css">
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->
    
    <!--
        The following scripts will be fetched from other parts of the server, but will appear to 
        reside in lib folder. See server.js for the route configuration
    -->
    <script src="lib/es6-shim/es6-shim.min.js"></script>
    <script src="lib/systemjs/dist/system-polyfills.js"></script>

    <script src="lib/systemjs/dist/system.src.js"></script>
    <script src="lib/rxjs/bundles/Rx.js"></script>
    <script src="lib/systemjs.config.js"></script>
    <script src="lib/zone.js/dist/zone.js"></script>
    <script src="lib/crypto-js/crypto-js.js"></script>
    <script src="lib/reflect-metadata/Reflect.js"></script>
    <!-- 2. Configure SystemJS -->
    <script>
      System.import('soulmate/main')
            .then(null, console.error.bind(console));
    </script>
</head>

<body>
    <!-- This is an angular directive -->
    <soulmate-app></soulmate-app>
    
</body>

</html>