<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>


    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/LandingPage.css">
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->
    <script src="scripts/es6/es6-shim.min.js"></script>
    <script src="scripts/system/system-polyfills.js"></script>

    <script src="scripts/system/system.src.js"></script>
    <script src="scripts/rx/Rx.js"></script>
    <script src="scripts/systemjs.config.js"></script>
    <script src="scripts/zone/zone.js"></script>
    <script src="scripts/crypto-js/crypto-js.js"></script>
    <script src="scripts/reflect-metadata/reflect.js"></script>
    <!-- 2. Configure SystemJS -->
    <script>
      System.config({
        map:{
            soulmate:"/components/soulmate"
        },
        packages: {        
            soulmate: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('soulmate/main')
            .then(null, console.error.bind(console));
    </script>
</head>

<body>
    <!-- This is an angular directive -->
    <soulmate-app></soulmate-app>
    
</body>

</html>